.container_menur-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    transition: 0.1s;
}

a:hover{
    color: #0B7A75;
    transition-timing-function: ease-in-out;
}

.menu-bar_logo > img{
    width: 20%;
    display: flex;
    margin-left: 15px;
}

.container_menur-bar > ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    list-style: none;
}

.container_menur-bar > ul > li{
    margin: 0 20px;
}
