.container_menu-title h1{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding: 15px 0;
    margin: 20px 0;
}

.container_menu-title hr{
    margin: 20px 0;
}